<!-- <p>cart works!</p> -->
<section class="cart-section">
    <h2>Building an eCommerce website is a complex task that involves various components 
        and technologies. It requires web development skills and knowledge of databases, 
        security, user authentication, and more. However, I can provide you with a high-level 
        overview of the steps involved in creating an eCommerce website:
    </h2>
    <div>
        <strong>Planning and Requirement Gathering:</strong> 
        Define the goals and objectives of your eCommerce website. Identify the target audience, 
        products or services you want to sell, and features you want to include.
    </div>
    <div>
        <strong>Design and User Interface:</strong>      
       Design the layout, theme, and user interface of your website. Consider factors like branding, 
       user experience, and responsive design for mobile devices.
    </div>
    <div>
        <strong>Front-End Development:</strong>
            Implement the user interface using HTML, CSS, and JavaScript.
            Create product pages, navigation menus,
            shopping cart functionality, and other components.
    </div>
    <div>
        <strong> Maintenance and Updates:</strong>
            Regularly monitor and maintain your eCommerce website. Update product listings, 
            apply security patches, and address any customer feedback or issues.
    </div>

                       
    <div class="madeBY">
        <strong>This website Made by :  </strong> 
        Himanshu
    </div>
    <div class="madeBY">
        <strong>Mobile no :  </strong> 
        9721782524
    </div>
    <div class="madeBY">
        <strong>Email :  </strong> 
        himanshupatel00007@gmail.com
    </div>
</section>
